
.form-group {
    width: 100px;
}

label {
    text-align: center;
    margin: 50px;
}

label {
    text-align: center;
}

button {
    margin-bottom: auto;
}

form {
    text-align: center;
    margin: auto;
}
